将修辞手法分为"比喻"、"比拟"、"夸张"和"排比"四种。每个句子可能未使用修辞手法，也可能使用1种或多种修辞手法。
{% if task_type == 'Rhetoric Classification' %}
从"比喻"、"比拟"、"夸张"、"排比"和"未使用修辞"中选择1个或多个修辞粗粒度类型，不要重复。直接使用JSON格式输出，字段名称为"rhetoric"，数组格式，不要解释。
输出格式如下：
{
    "rhetoric": ["选择的修辞粗粒度类型"]
}
根据要求，直接输出JSON格式回答。
句子：{{ sentence }}
修辞：
{% elif task_type == 'Form Classification' %}
从形式角度根据修辞成分的显隐将比喻形式分为"明喻"、"暗喻"和"借喻"。明喻指本体、喻体和喻词都出现，暗喻指仅本体和喻体出现，借喻指仅喻体出现。
从形式角度根据标志拟人的成分的词性将比拟形式分为"名词"、"动词"、"形容词"和"副词"。名词指用写人的名词写物或用写物的名词写人或其他物，动词指用写人的动词写物或用写物的动词写人或其他物，形容词指用写人的形容词写物或用写物的形容词写人或其他物，副词指用写人的副词写物或用写物的副词写人或其他物。
从形式角度根据夸张的方式将夸张形式分为"直接夸张"、"间接夸张"和"融合夸张"。直接夸张指直接对某物进行夸张，间接夸张指夸大另一样东西来夸大某物，融合夸张指借助其他修辞进行夸张。
从形式角度根据排比项的成分将排比形式分为"成分排比"和"句子排比"。成分排比指排比项承担句子中的某一句法成分，句子排比指排比项均可单独构成句子。
从"明喻"、"暗喻"、"借喻"、"名词"、"动词"、"形容词"、"副词"、"直接夸张"、"间接夸张"、"融合夸张"、"成分排比"、"句子排比"和"未使用修辞"中选择1个或多个修辞细粒度形式类型，不要重复。直接使用JSON格式输出，字段名称为"form"，数组格式，不要解释。
输出格式如下：
{
    "form": ["选择的修辞细粒度形式类型"]
}
根据要求，直接输出JSON格式回答。
句子：{{ sentence }}
形式：
{% elif task_type == 'Content Classification' %}
从内容角度根据本体的性质将比喻内容分为"实在物"、"动作"和"抽象概念"。实在物指本体是可见、可触、可想的实在物体，动作指本体是某种动作、行为或事件，抽象概念指本体是抽象概念。
从内容角度根据喻体的性质将比拟内容分为"拟人"和"拟物"。拟人指把非人当作人写，拟物指把非A的某物当作A写且A非人。
从内容角度根据夸张的方向将夸张内容分为"扩大夸张"、"缩小夸张"和"超前夸张"。扩大夸张指向大、多、长或高等夸张，缩小夸张指向小、少、短或低等夸张，超前夸张指把后出现的事说到先出现的事之前。
从内容角度根据排比项之间的关系将排比的内容分为"并列"、"承接"和"递进"。并列指排比项顺序改变不影响语义通顺，承接指排比项之间有先后逻辑顺序，递进指各排比项表达的含义、情感等层层递进。
请从"实在物"、"动作"、"抽象概念"、"拟人"、"拟物"、"扩大夸张"、"缩小夸张"、"超前夸张"、"并列"、"承接"、"递进"和"无"中选择1个或多个修辞细粒度内容类型，不要重复。直接使用JSON格式输出，字段名称为"content"，数组格式，不要解释。
输出格式如下：
{
    "content": ["选择的修辞细粒度内容类型"]
}
根据要求，直接输出JSON格式回答。
句子：{{ sentence }}
内容：
{% endif %}