将修辞手法分为"比喻"、"比拟"、"夸张"和"排比"四种。每个句子可能未使用修辞手法，也可能使用1种或多种修辞手法。
将修辞句中的修辞成分分为"连接词"、"描写对象"和"描写内容"，对于不同的修辞手法，修辞成分的具体定义如下。
对于比喻修辞，连接词为"喻词"，描写对象为"本体"，描写内容为"喻体"。喻词指用来连接本体和喻体的词，本体指被比喻的事物或道理，喻体指用以比喻的事物或道理。
对于比拟修辞，描写对象为"比拟对象"，描写内容为"比拟内容"。比拟对象指被描写的人或物，比拟内容指拟人对象与对象之间的相似之处或联系之处。
对于夸张修辞，描写对象为"夸张对象"，描写内容为"夸张内容"。夸张对象指被描写的事物，夸张内容指夸张描写。
对于排比修辞，连接词为"排比项"。排比项指排比句中的排比标记或重复句式。
将句子中的所有修辞成分完整地抽取出来。使用JSON格式输出，连接词的字段名称为"connector"，数组格式，描写对象的字段名称为"object"，数组格式，描写内容的字段名称为"content"，数组格式，不要解释。如果没有对应的修辞成分，则对应的字段值为null。
输出格式如下：
{
    "connector": ["句子中的连接词"],
    "object": ["句子中的描写对象"],
    "content": ["句子中的描写内容"]
}
根据要求，直接输出JSON格式回答。
句子：{{sentence}}
修辞成分：